body
{
    margin: 0;
    padding: 0;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
}

.container
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.container h1
{
    color: rgb(78, 204, 19);
    margin: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: rgb(4, 170, 4) 1px solid;
    outline: rgb(241, 18, 141);
}
 button
 {
     color: rgb(3, 3, 3);
     width: 100%;
     padding: 10px;
     border-radius: 20px;
     font-size: 16px;
     margin: 10px 0;
     border: rgb(46, 245, 46);
     outline: none;
     cursor: pointer;
 }

 .signup-btn
 {
     background-color: seagreen;
 }
 .facebook-btn
 {
     background-color:  #3b5998;
 }
 a {
     text-decoration: none;
 }
 hr 
 {
     margin-top: 20px;
     width: 70%;
 }
 .Or
 {
     background:  #ffff;
     width: 30px;
     margin: -19px auto 10px;
 }

 img{
     width: 70px;
     margin-top: -50px;
 }